<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.duoec.api.w.mapper.ActionMapper" >
  <resultMap id="BaseResultMap" type="com.duoec.api.w.entity.ActionEntity" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="action_date" property="actionDate" jdbcType="DATE" />
    <result column="action_type_id" property="actionTypeId" jdbcType="CHAR" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="result" property="result" jdbcType="CHAR" />
    <result column="score" property="score" jdbcType="TINYINT" />
    <result column="remark" property="remark" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, action_date, action_type_id, user_id, result, score, remark
  </sql>
</mapper>