.product_info {
    display: inline-block;
}

.product_info > img.cover {
    float: left;
    margin-right: 20px;
}

.product_info > .product_attrs {
    float: right;
    flex: 1;
    -webkit-flex: 1;
    width: 356px;
}

.product_info > .product_attrs > h1 {
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
    margin-top: 10px;
}

.product_info > .product_attrs > .summary {
    padding: 5px 10px;
    text-indent: 24px;
    line-height: 24px;
    border: 1px solid #EEE;
    color: #2a6496;
    font-size: 14px;
}

.product_info > .product_attrs > .row {
    line-height: 30px;
    font-size: 14px;
}

.product_info > .product_attrs > .row > label {
    line-height: 40px;
}

.product_detail {
    display: inline-block;
    margin: 20px 0;
    font-size: 16px;
    line-height: 32px;
    width: 100%;
}

.product_detail p {
    font-size: 16px;
    line-height: 32px;
    text-indent: 24px;

}
.product_detail h5{
    font-size: 18px;
    font-weight: bold;
    background: #EEE;
    text-indent: 20px;
    line-height: 50px;
    margin-bottom: 12px;
}

.img {
    display: inline-block;
    width: 300px;
    height: 300px;
    border: 1px solid #EEE;
    margin-right: 20px;
}

.img > img {
    vertical-align: middle;
}

.img > .holder {
    line-height: 300px;
}