.main_content > ul {
    display: inline-block;
}

.main_content > ul > li {
    float: left;
    width: 150px;
    margin: 10px;
    height: 200px;
    overflow: hidden;
    text-align: center;
}

.main_content > ul > li img {
    max-width: 150px;
    max-height: 150px;
}

.main_content > ul > li a {
    font-size: 14px;
    color: #444;
}