.page {
    text-align: center;
    margin: 40px auto; }
.page a {
    display: inline-block;
    min-width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border: 1px solid #e0e0e0;
    color: #000;
    margin: 0 5px; }
.page a:hover {
    background: #e9410a;
    color: #fff; }
.page .active {
    background: #e9410a;
    color: #fff; }
.page .pre-page,.page .next-page{
    width:60px;
}