<?xml version="1.0" encoding="UTF-8"?>
<!-- 已经打开自动扫描功能，间隔30秒，所以在系统启动后可以直接修改此文件，无需重启服务器 -->
<configuration scan="false">
	<!-- 加载配置文件 -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%thread] [%level] - [%logger{50}:%line] - [requestId:%X{traceId}] %msg%n</Pattern>
		</encoder>
	</appender>

	<!-- 不同級別的文件記錄在不同的日誌文件中 -->
	<appender name="APP_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>ERROR</level>
			<onMatch>DENY</onMatch>
			<onMismatch>ACCEPT</onMismatch>
		</filter>
		<file>${log.output.path}/server.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!--在工程目录下自动生成logs文件夹 -->
			<FileNamePattern>${log.output.path}/server.%d{yyyy-MM-dd}.log</FileNamePattern>
			<!-- 最多30个文件 -->
			<MaxHistory>180</MaxHistory>
		</rollingPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%thread] [%level] - [%logger{50}:%line] - [requestId:%X{traceId}] %msg%n</pattern>
		</layout>
	</appender>

	<appender name="ERROR_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>ERROR</level>
		</filter>
		<file>${log.output.path}/error.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!--在工程目录下自动生成logs文件夹 -->
			<FileNamePattern>${log.output.path}/error.%d{yyyy-MM-dd}.log</FileNamePattern>
			<!-- 最多30个文件 -->
			<MaxHistory>180</MaxHistory>
		</rollingPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%thread] [%level] - [%logger{50}:%line] - [requestId:%X{traceId}] %msg%n</pattern>
		</layout>
	</appender>

	<appender name="SEARCH_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>INFO</level>
		</filter>
		<file>${log.output.path}/search.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!--在工程目录下自动生成logs文件夹 -->
			<FileNamePattern>${log.output.path}/search.%d{yyyy-MM-dd}.log</FileNamePattern>
			<!-- 最多30个文件 -->
			<MaxHistory>180</MaxHistory>
		</rollingPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%thread] [%level] - [%logger{50}:%line] - [requestId:%X{traceId}] %msg%n</pattern>
		</layout>
	</appender>

	<root>
		<level value="INFO" />
		<appender-ref ref="STDOUT" />
		<appender-ref ref="APP_LOG" />
		<appender-ref ref="ERROR_LOG" />
	</root>
</configuration>
